main{
    width: 90%;
    margin: 0 auto;
}
.card-story-container {
    display: flex;
    flex-wrap: wrap;
}
.home-header {
    display: flex;
    align-items: center;
}
.home-header button {
    cursor: pointer; 
    padding: 13px 25px;
    margin: 0 30px;
    font-family: "Outfit", serif;
    border: none;
    background-color: #6c8aff;
    border-radius: 10px;
    color: #efefef;
    font-size: 1em;
}