<div class="cards-container">
    @if(userStory.length != 0){
        @for (t of userStory; track t.id) {
            <div class="card">
                <div class="icon">
                    <img ngSrc="{{t.image_url}}" alt="{{'Image of the story' + t.name}}" fill priority  class="custom-image">
                </div>
                <div class="text">
                    <h3 class="title">{{t.name}}</h3>
                    <div class="story-btns">
                        <button class="continue-btn">Continue</button>
                        <button class="dlt-btn" (click)="getStoryId(t.id)">Delete</button>
        
                    </div>
                </div>
            </div>
            }
    }@else {
        <div class="nostory">
            Ups! You have no stories, let's create one
        </div>
    }
</div>