.cards-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 180px;
    padding: 15px;
    margin: 10px 20px 10px 0px;
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: 0px 0px 1px black;
    background-color: #ffffff;
    border-radius: 10px;
}

.story-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3px;
}

.continue-btn,
.dlt-btn {
    cursor: pointer;
    font-family: "Source Sans 3", serif;
    border: none;
    background-color: #6c8aff;
    border-radius: 5px;
    color: #efefef;
    padding: 10px;
    font-size: 0.85em;
    width: 100%;
}

.dlt-btn {
    background-color: #ff5757;
}

.title {
    padding: 5px 0;
    margin: 0;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.text h3 {
    order: 1;
}

.text p {
    order: 2;
    flex-grow: 1;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    height: 40px;
}

.text .story-btns {
    justify-content: baseline;
    order: 3;
}

.nostory {
    margin: 20px 0;
}