<div class="form-container">
    <button  class="btn_close">
        <svg mat-dialog-close xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24">
            <path fill="none" stroke="#000000" stroke-dasharray="12" stroke-dashoffset="12" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" d="M12 12l7 7M12 12l-7 -7M12 12l-7 7M12 12l7 -7">
                <animate fill="freeze" attributeName="stroke-dashoffset" dur="0.3s" values="12;0" />
            </path>
        </svg>
    </button>
    <h2>Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="register()" class="login-form">
        <label for="name">Name</label>
        <input formControlName="name" type="text" name="name" id="name" placeholder="Dan Smith">
        <label for="email">Email</label>
        <input formControlName="email" type="email" name="email" id="email" placeholder="example@gmail.com" autocomplete="email">
        <label for="password">Password</label>
        <input formControlName="password" type="password" name="password" id="password" autocomplete="off" placeholder="xxxxxxx">
        <input type="submit" value="Register">
    </form>
    <div class="links">
        <p>
            Already have an account? <a (click)="logIn()">Log in</a>
        </p>
    </div>
</div>
