* {
    box-sizing: border-box;
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    width: 290px;
    padding: 20px;
    box-shadow: 0px 0px 1px black;
    background-color: #ffffff;
    border-radius: 10px;
    box-sizing: border-box;
}


.join-btn {
    cursor: pointer;
    font-family: "Source Sans 3", serif;
    border: none;
    background-color: #6c8aff;
    border-radius: 10px;
    color: #efefef;
    font-size: 1em;
    width: 100%;
    padding: 10px 0;
}

.title {
    padding: 0;
    margin: 0;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text h3 {
    order: 1;
}

.text h4 {
    order: 2;
    margin: 5px 0;

}

.text h4 span {
    font-weight: 400;
}

.text p {
    order: 3;
    flex-grow: 1;
    margin: 4px 0 15px 0;
}

.story-btns {
    display: flex;
}

.text .story-btns {
    justify-content: baseline;
    order: 4;
}

.text {
    overflow: hidden;
}

.text p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    height: 44px;
}

@media (max-width: 850px) {
    .cards-container {
        grid-template-columns: 1fr;
    }

    .card {
        width: calc(100% - 20px); 
        margin: 0 10px;
    }
}

@media (max-width: 600px) {
    .cards-container {
        justify-content: center;
    }

    .card {
        width: calc(100% - 20px); 
        margin: 0 10px;
        padding: 15px; 
    }
    
}
@media (max-width: 350px) {
    .cards-container {
        justify-content: center;
    }

    .card {
        width: 260px;
        margin: 0 10px;
        padding: 15px; 
    }
    

}