<div class="cards-container">
    @for (t of story; track t.id) {
    <div class="card">
        <div class="icon">
            <img ngSrc="{{t.image_url}}" alt="{{'Image of the story' + t.name}}" fill priority  class="custom-image">
        </div>
        <div class="text">
            <h3 class="title">{{t.name}}</h3>
            <p>{{t.description}}</p>
            <div class="story-btns">
                <button class="join-btn" (click)="editStory(t.id)">Join</button>
            </div>
        </div>
    </div>
    }
</div>